= semantic_form_for [@user, @album] do |f|
  = f.inputs do
    = f.input :name
    = f.input :description
    = f.input :visibility
    = f.input :user_id, :as => :hidden

  = f.actions do
    = f.action :submit, :as => :input
