- model_class = Album
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:name)
      %th= model_class.human_attribute_name(:description)
      %th= model_class.human_attribute_name(:user_id)
      %th= model_class.human_attribute_name(:visibility)
      %th= model_class.human_attribute_name(:created_at)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @albums.each do |album|
      %tr
        %td= link_to album.id, user_album_path(@user, album)
        %td= album.name
        %td= album.description
        %td= album.user_id
        %td= album.visibility
        %td=l album.created_at
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_user_album_path(current_user, album), :class => 'btn btn-mini'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), user_album_path(current_user, album), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_user_album_path(current_user), :class => 'btn btn-primary'
